@page
@model ProgramasASPRazor.Pages.CifradoCesarModel
@{
}

<div class="row">
    <div class="col-lg-9 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Cifrado Cesar.</h2>
        <br />
        <form method="post">
            <!--Campo Mensaje-->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Mensaje:</label>
                <div class="col-sm-8">
                    <input class="form-control" step="any" type="text" asp-for="Mensaje" />
                </div>
            </div>
            <!--Campo Desplazamiento-->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Valor de desplazamiento (N):</label>
                <div class="col-sm-8">
                    <input class="form-control" step="any" type="number" asp-for="Desplazamiento" />
                </div>
            </div>
            <!--Campo Acción-->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Acción:</label>
                <div class="col-sm-8">
                    <select class="form-control" asp-for="Accion">
                        <option value="codificar">Codificar</option>
                        <option value="decodificar">Decodificar</option>
                    </select>
                </div>
            </div>
            <!--Boton de ejecutar-->
            <div class="row">
                <div class="offset-sm-4 col-sm-8">
                    <button type="submit" class="btn btn-primary">Realizar Acción</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-lg-9 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Resultado:</h2>
        <div class="row mb-3">
            <label class="col-sm-4 col-form-label">Resultado:</label>
            <div class="col-sm-8">@Model.Resultado</div>
        </div>
    </div>
</div>
