@page
@model IndexModel
@{
    ViewData["Title"] = "Programas ASP Razor";
}

<div class="row">
    <div class="col-lg-9 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Lista de programas ASP Razor.</h2>
        <br />
        <div class="row mb-3">
            <a class="navbar-brand" asp-area="" asp-page="/CalculoMasaCorporal">Calculo de masa corporal.</a>
        </div>
        <div class="row mb-3">
            <a class="navbar-brand" asp-area="" asp-page="/CifradoCesar">Cifrado Cesar.</a>
        </div>
        <div class="row mb-3">
            <a class="navbar-brand" asp-area="" asp-page="/EvaluarExpresion">Evaluar expresión.</a>
        </div>
        <div class="row mb-3">
            <a class="navbar-brand" asp-area="" asp-page="/NumerosAleatorios">Operaciones estadisticas.</a>
        </div>
    </div>
</div>